
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

.venv

venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
cython_debug/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

kubectl
**/kubectl
*.bin


# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# Project data
/data/*
!/data/.gitkeep
key.json

