# OS
.DS_Store
# .env
# .env.local

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
cython_debug/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
# go.work lieber tracken
# go.work

# Packaging/build (nur top-level)
#/build/
#/dist/
#/target/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# Project data
/data/*
!/data/.gitkeep

# Archive optional ignorieren
# archive/*
