

# Lokale venv
venv/
env/

# Git
.git/
.gitignore

# Logs und temporäre Dateien
*.logok b
*.tmp
*.out

# Sonstige Archive
*.zip
*.tar
*.gz

# Go Build Artefakte
*.exe
*.test
*.prof

# Lokale Messdaten
latencies.csv
measure.sh


